doctype
html(lang="en")
  head

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title=title
    meta(name="description" content="#{ description }")
    meta(name="keywords", content="#{ keywords }")
    
    meta(name="author", content="Marek Dlugos")
    meta(name="copyright", content="© 2347, Marek Dlugos. All rights reserved.")
    meta(name="robots", content="index, follow, noodp")
    
    meta(name="googlebot" content="index,follow")
    meta(name="theme-color" content="#111517")
    meta(name="subject" content="Marek Dlugos")
    meta(meta name="abstract" content="Marek Dlugos Personal Website")
    meta(name="rating" content="General")
    
    link(rel="author" href="humans.txt")
    link(rel="me" href="https://www.facebook.com/marek.dlugos" type="text/html")
    link(href="/images/favicon.png" rel="icon" type="image/png")
    link(rel="stylesheet" href="css/main.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/main.js")
    script(src="js/analytics.js")
    script(src="https://use.typekit.net/wxb1mxr.js")
    script try{Typekit.load({ async: true });}catch(e){}

    meta(property="og:type" content="website")
    meta(property="og:url" content="http://www.mareks.space/")
    meta(property="og:title" content="Marek Dlugos — An Entrepreneurial Mind")
    meta(property="og:image" content="http://www.mareks.space/images/og-image.jpg")
    meta(property="og:description" content="Focusing on digital products. Personal website containing all of the information and previous work.")
    meta(property="og:site_name" content="Marek Dlugos — Personal website")
    meta(property="og:locale" content="en_US")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@marekdlugos")
    meta(name="twitter:creator" content="@marekdlugos")
    meta(name="twitter:url" content="http://www.mareks.space/")
    meta(name="twitter:title" content="Marek Dlugos — An Entrepreneurial Mind")
    meta(name="twitter:description" content="Focusing on digital products. Personal website containing all of the information and previous work.")
    meta(name="twitter:image" content="http://www.mareks.space/images/og-image.jpg")
    
  body
    != yield
